on boot
    chmod 0660 /sys/devices/virtual/panel/brightness/fp_lhbm
    chmod 0660 /sys/devices/virtual/panel/brightness/fp_lhbm_br_lvl
    chmod 0660 /sys/class/backlight/panel0-backlight/brightness
    chmod 0660 /sys/class/panel/aod/aod_interface
    chmod 0444 /sys/devices/virtual/input/lge_touch/tap2wake
    chown system system /sys/devices/virtual/panel/brightness/fp_lhbm
    chown system system /sys/devices/virtual/panel/brightness/fp_lhbm_br_lvl
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/panel/aod/aod_interface
    chown system system /sys/devices/virtual/input/lge_touch/tap2wake

service fingerprint-inscreen-1-0 /vendor/bin/hw/vendor.lineage.biometrics.fingerprint.inscreen@1.0-service.lge_msmnile
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
